@{ foreach (var events in Model.AllEvents)
    {
        <div class="media post_item">
            <img width="100" height="50" src="data:image/jpeg;base64,@(Convert.ToBase64String(events.Image))" alt="post">
            <div class="media-body">
                <a href="blog-details.html">
                    <h3>@events.Name</h3>
                </a>
                <p>@events.Date</p>
            </div>
        </div>
    }
}

