
@foreach (var teacher in Model.TopTeachers)
{
    <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
        <div class="thumb d-flex justify-content-sm-center">

            <img class="img-fluid"  src="data:image/jpeg;base64,@(Convert.ToBase64String(teacher.Photo))" alt="" />
        </div>
        <div class="meta-text text-sm-center">
            <h4>@teacher.Name</h4>
            <p class="designation">@teacher.Specialization</p>
            <div class="mb-4">
                <p>
                    @teacher.About
                </p>
            </div>
            <div class="align-items-center justify-content-center d-flex">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
                <a href="#"><i class="ti-pinterest"></i></a>
            </div>
        </div>
    </div>
        }
